{% extends "base.html" %} {% block content %}
<section
  class=" home-container d-flex justify-content-between align-items-center mt-3"
>
  <div class="mx-5">
    <h1 class="w-50">Predict Diabetes in Seconds!</h1>
    <p class="my-3 desc-box">
      In this project, i tackled a binary classification problem aiming to predict the likelihood
      of an individual developing diabetes. Leveraging machine learning
      techniques, I explored various classification models including Logistic
      Regression, Decision Trees, Random Forests, and Support Vector
      Machine(SVM), among others. Extensive data preprocessing, feature
      engineering, and hyperparameter tuning were conducted to optimize model
      performance and predictive accuracy.
    </p>
    <button class="predict-btn"><a href="/predict_diabetes">Diabetes Assessment</a></button>
  </div>

  <div>
    <img
      class="home_img"
      src="{{url_for('static',filename='images/Home_Page.png')}}"
      alt="Home Page.."
    />
  </div>
</section>
{% endblock %}
