{% extends "base.html" %}

{% block content %}

<div class="main-prediction-container mt-5">

    <div class="data-container d-flex justify-content-between">
        <div>
            <img class="prediction-img" src="{{url_for('static',filename='images/Prediction_Page.png')}}"
                alt="Diabetes Prediction.." />
        </div>
        <div class="form-container px-5">

            <p class="text-center predict-page-title">Assess Your Diabetes</p>
            <div class="horizontal-separator mb-4 mx-auto"></div>

            <form action="/predict_diabetes" method="post" id="predictionForm">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age" aria-describedby="ageHelp"
                            required min="20">
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="pregnancies" class="form-label">Pregnancies</label>
                        <input type="number" class="form-control" id="pregnancies" name="pregnancies" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="glucose" class="form-label">Glucose</label>
                        <input type="number" step="any" class="form-control" id="glucose" name="glucose" required>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="bloodPressure" class="form-label">Blood Pressure</label>
                        <input type="number" step="any" class="form-control" id="bloodPressure" name="bloodPressure"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="skinThickness" class="form-label">Skin Thickness</label>
                        <input type="number" step="any" class="form-control" id="skinThickness" name="skinThickness"
                            required>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="insulin" class="form-label">Insulin</label>
                        <input type="number" step="any" class="form-control" id="insulin" name="insulin" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="bmi" class="form-label">BMI (Body Mass Index)</label>
                        <input type="number" step="any" class="form-control" id="bmi" name="bmi" required>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="diabetesPedigreeFunction" class="form-label">Diabetes Pedigree Function</label>
                        <input type="number" step="any" class="form-control" id="diabetesPedigreeFunction"
                            name="diabetesPedigreeFunction" required>
                    </div>
                </div>
                <button type="submit" class="btn predict-btn px-2 d-block mx-auto py-1 fs-5">Check Result</button>
            </form>
        </div>
    </div>
</div>

<!-- Display results generated by classification models -->

{% if datas is defined %}

<!-- target results -->
<div class="table-container my-5">

    <h2 class="text-body-emphasis text-center">TARGET RESULTS</h2>
    <div class="horizontal-separator mb-4 mx-auto"></div>
    <p class="table-text d-block mx-auto text-center my-3">The models are trained to classify individuals into two
        classes:
        <b class="text-dark">Class 0: Non-Diabetic</b> and <b>class 1: Diabetic</b>.Below, you can find results
        predicted by various pre-trained classification models..
    <p>

    <table class="table table-sm result-table table-condensed table-striped mx-auto">

        <thead>
            <tr>
                <td class="table-header-name">Model</td>
                <td class="table-header-name">Result</td>
            </tr>
        </thead>
        <tbody>

            {% for i in datas[0] %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1][0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<!-- Age Segmented Health Metrics -->
<div class="table-container my-5">

    <h2 class="text-body-emphasis text-center">AGE SEGMENTED HEALTH METRICS</h2>
    <div class="horizontal-separator mb-4 mx-auto"></div>
    <p class="table-text d-block mx-auto text-center my-3">Explore the average data for each health factor within <b>
            your
            age group({{datas[2][-1][-1]}})</b>, offering personalized insights and a comprehensive wellness assessment.
    <p>

    <table class="table table-sm result-table table-condensed table-striped mx-auto">
        <thead>
            <tr>
                <td class="table-header-name">Factor</td>
                <td class="table-header-name">Your Data</td>
                <td class="table-header-name">Age Group Avg Data</td>
            </tr>
        </thead>

        <tbody>
            {% set count = namespace(value=1) %}
            {% for i in datas[2][:-1] %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ datas[1][count.value] }}</td>
                <td>{{ i[1] }}</td>
            </tr>
            {% set count.value = count.value + 1 %}
            {% endfor %}

        </tbody>
    </table>
</div>

<script>
    // scroll down page when load
    function Scrolldown() {
        window.scroll(0, 700);
    }
    window.onload = Scrolldown;
</script>
{% endif %}

{% endblock %}