{% extends "base.html" %}

{% block content %}

<div class="col-lg-8 mx-auto p-4 py-md-5 trained-model-container">
	
	<!-- Data Preprocessing Start -->
	<div id="data_preprocessing">
		<h2 class="text-body-emphasis">Data Preprocessing</h2>
		<div class="horizontal-separator my-3"></div>
		<pre>
<code class="language-py hljs">
# Importing the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Importing the dataset
dataset = pd.read_csv("Dataset/diabetes.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Feature Scaling
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
</code>
		</pre>
	</div>
	<!-- Data Preprocessing End -->
	
		<!-- Logistic Regression Start -->
		<div id="logistic_regression">
			<h2 class="text-body-emphasis">
				<b>Logistic Regression</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>82.47</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>76.32</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>61.70</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>68.24</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/Logistic_Regression.png') }}" class="img-fluid cm-img" alt="Logistic Regression Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
				<code class="language-python">
from data_preprocessing import *
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the Logistic Regression model on the Training set
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)
 
# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- Logistic Regression End -->

		<!-- K-Nearest Neighbors (K-NN) Start -->
		<div id="k_nearest_neighbors">
			<h2 class="text-body-emphasis">
				<b>K-Nearest Neighbors (K-NN)</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>79.87</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>72.22</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>55.32</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>62.65</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/K_Neighbors_Classifier.png') }}" class="img-fluid cm-img" alt="K-Nearest-Neighbors Classifier Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
				<code class="language-python">
# Importing the libraries
from data_preprocessing import *
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

def find_optimal_neighbors():
	# Define a parameter grid with the range of k values to try
	param_grid = {'n_neighbors': range(1, 30)}

	knn = KNeighborsClassifier()
	# Initialize GridSearchCV with KNN classifier and parameter grid
	grid_search = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy')

	grid_search.fit(X_train, y_train)

	# Get the best hyperparameters and corresponding accuracy
	best_k = grid_search.best_params_['n_neighbors']
	
	return best_k

# Training the K-NN model on the Training set
classifier = KNeighborsClassifier(n_neighbors = find_optimal_neighbors(), metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- K-Nearest Neighbors (K-NN) End -->

		<!-- Support Vector Machine (SVM) Start -->
		<div id="svm">
			<h2 class="text-body-emphasis">
				<b>Support Vector Machine (SVM)</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>82.47</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>76.32</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>61.70</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>68.24</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/SVM.png') }}" class="img-fluid cm-img" alt="Support Vector Machine Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
				<code class="language-python">
# Importing the libraries
from data_preprocessing import *
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the SVM model on the Training set
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- Support Vector Machine (SVM) End -->

		<!-- Kernel SVM Start -->
		<div id="kernal_svm">
			<h2 class="text-body-emphasis">
				<b>Kernel SVM</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>79.22</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>70.27</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>55.32</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>61.90</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/KernalSVM.png') }}" class="img-fluid cm-img" alt="KernalSVM Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
				<code class="language-python">
# Importing the libraries
from data_preprocessing import *
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the Kernel SVM model on the Training set
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- Kernel SVM End -->
		
		<!-- Naive Bayes Start -->
		<div id="naive_bayes">
			<h2 class="text-body-emphasis">
				<b>Naive Bayes</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>79.22</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>67.44</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>61.70</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>64.44</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/naiveBayes.png') }}" class="img-fluid cm-img" alt="Naive Bayes Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
				<code class="language-python">
# Importing the libraries
from data_preprocessing import *
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the Naive Bayes model on the Training set
classifier = GaussianNB()
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))				
</code>
			</pre>
		</div>
		<!-- Naive Bayes End -->
		
		<!-- Decision Tree Classification Start -->
		<div id="decision_tree_classification">
			<h2 class="text-body-emphasis">
				<b>Decision Tree Classification</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>70.78</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>51.72</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>63.83</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>57.14</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/DecisionTree_Classifier.png') }}" class="img-fluid cm-img" alt="Decision Tree Classifier Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
<code class="language-python mt-4">
# Importing the libraries
from data_preprocessing import *
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the Decision Tree Classification model on the Training set
classifier = DecisionTreeClassifier(criterion="entropy", random_state=0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- Decision Tree Classification End -->

		<!-- Random Forest Classification Start -->
		<div id="random_forest_classification">
			<h2 class="text-body-emphasis">
				<b>Random Forest Classification</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>79.87</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>68.18</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>63.83</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>65.93</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/RandomForest_Classifier.png') }}" class="img-fluid cm-img" alt="Random Forest Classifier Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
<code class="language-python mt-4">
# Importing the libraries
from data_preprocessing import *
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

def find_optimal_estimators():
	# Define a parameter grid with the range of k values to try
	param_grid = {'n_estimators': range(1,90)}

	rfc = RandomForestClassifier()
	# Initialize GridSearchCV with KNN classifier and parameter grid
	grid_search = GridSearchCV(rfc, param_grid, cv=10, scoring='accuracy')

	grid_search.fit(X_train, y_train)

	# Get the best hyperparameters and corresponding accuracy
	best_k = grid_search.best_params_['n_estimators']

	return best_k

# Training the Random Forest Classification model on the Training set
classifier = RandomForestClassifier(n_estimators = find_optimal_estimators(), criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- Random Forest Classification End -->

		<!-- XGBoostStart -->
		<div id="xg_boost">
			<h2 class="text-body-emphasis">
				<b>XGBoost</b>
			</h2>
			<div class="horizontal-separator my-3"></div>
			<div class="container mt-5">
				<div class="row">
					<!-- Metrics Table -->
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Matrix</h5>
								<table class="table">
									<thead>
										<tr>
											<th>Metric</th>
											<th>Value(%)</th>
										</tr>
									</thead>
									<tr>
										<td>Accuracy</td>
										<td>79.87</td>
									</tr>
									<tbody>
										<tr>
											<td>Precision</td>
											<td>64.81</td>
										</tr>
										<tr>
											<td>Recall</td>
											<td>74.47</td>
										</tr>
										<tr>
											<td>F1 score</td>
											<td>69.31</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title title-color"> Confusion Matrix</h5>
								<div>
									<img src="{{ url_for('static', filename='images/Confusion_Matricx/XGBoost.png') }}" class="img-fluid cm-img" alt="XGBoost Confusion Matricx"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<pre>
<code class="language-python mt-4">
# Importing the libraries
from data_preprocessing import *
import xgboost
from sklearn.metrics import confusion_matrix, accuracy_score ,precision_score, recall_score, f1_score

# Training the XG Boost  model on the Training set
classifier = xgboost.XGBClassifier()
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
ac_score=accuracy_score(y_test, y_pred)
precision=precision_score(y_test, y_pred)
recall=recall_score(y_test, y_pred)
f1=f1_score(y_test, y_pred)

print(cm)
print("Accuracy: {:.2f}%".format(ac_score * 100))
print("Precision: {:.2f}%".format(precision * 100))
print("Recall: {:.2f}%".format(recall * 100))
print("F1 Score: {:.2f}%".format(f1 * 100))
</code>
			</pre>
		</div>
		<!-- XGBoost End -->



</div>


<!-- Code Snippet Script Start -->
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script>
	hljs.highlightAll();
</script>


{% endblock %}